:root {
  --berry: #8ad4ff;
  --electric: #b76cff;
  --dark: #0b0b10;
  --mid: #141425;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans';
}

body {
    background: var(--dark);
    color: #f5f5f5;
    line-height: 1.6;
}